    <i class="scroll-top scroll-top-mobile fa fa-sort-asc"></i>
    <footer class="footer-base">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-center text-left">
                        {{ page.footer_first }}
                    </div>
                    <div class="col-md-5 footer-center text-left">
                        {{ page.footer_second }}

                    </div>
                    <div class="col-md-4 footer-right text-left">
                        {{ page.footer_third }}
                    </div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    {{ page.footer_fifth }}
                </div>
            </div>
        </div>
    </footer>

