{% if field_pt_image_backgroun %}
    {% set bg_imgs = field_pt_image_backgroun %}
{% else %}
    {% set bg_imgs = background_page_title_image %}
{% endif %}

{# subtitle #}
{% if node.field_subtitle.value %}
    {% set subtitle = node.field_subtitle.value %}
{% elseif current_page == 'blog' %}
    {% set subtitle = blog_page_subtitle %}
    {% set bg_imgs = blog_background_page_title_image %}
{% else %}
    {% set subtitle = page_subtitle %}
{% endif %}
<div class="header-base bg-cover" style="background-image: url({{ bg_imgs ? bg_imgs|first }})">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="title-base text-left">
                    <h1>{{ current_title }}</h1>
   {% if "Lorem ipsum dolor sit ame" not in subtitle %}
                <p>{{ subtitle ? subtitle }}</p> 
            {% endif %}                </div>
            </div>
            <div class="col-md-3">
                <ol class="breadcrumb b white">
                    {{ page.breadcrumb }}
                </ol>
            </div>
        </div>
    </div>
</div>