<div{{ attributes.addClass('section-bg-color','whites-contact-form-2') }}>
    {{ title_suffix }}
    <div class="container content">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                {{ content.field_contact_form ? content.field_contact_form }}
            </div>
            <div class="col-md-3 col-sm-12">
                {{ content.field_sidebar_content }}
            </div>
        </div>
    </div>
</div>
