  

    <i class="scroll-top scroll-top-mobile fa fa-sort-asc"></i>
    <header class="header-base">
        <div class="content">
	        <div class="row copy-row">
	            <div class="col-md-12 copy-text">
        	        <div class="col-md-4 copy-text">
                		{{ page.encabezado_1 }}
                	</div>
                	<div class="col-md-4 copy-text">
                                {{ page.encabezado_2 }}
                	</div>
                	<div class="col-md-4 copy-text">
                                {{ page.encabezado_3 }}
	                </div>
                    </div>
                </div>
        </div>
    </header>
